@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Noto+Serif+Display:wght@400;700&display=swap");

:root {
  --black: #0b0c10;
  --wine: #400a18;
  --dark-wine: #1a040a;
  --gray: #aeabb4;
  --gray-box: #232427;
  --white: #ecf0f1;

  --font: "Lora", serif;
  --display: "Noto Serif Display", serif;
}

html {
  font-family: var(--font);
  scroll-behavior: smooth;
}

a {
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--gray);
}

.button {
  cursor: pointer;
  border-radius: 8px;
  font: var(--font);
}

.bases__text {
  color: var(--white);
  font-size: 1.25rem;
}

.bases__text--active {
  color: var(--white);
  font-weight: bold;
}

.bases__text--normal {
  color: var(--white);
  font-size: 1rem;
}

.bases__title2 {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
  .bases__text {
    font-size: 1.1rem;
  }
  .bases__title2 {
    font-size: 1.8rem;
  }
  .bases__text--normal {
    font-size: 0.95rem;
    text-align: justify;
  }
  .bases__text--active {
    font-size: 0.95rem;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .bases__title2 {
    margin-bottom: 16px;
    text-align: center;
  }
}
