.contact {
  padding: 64px 120px;
  background-color: #0b0c10;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23AEABB4'/%3E%3Cstop offset='1' stop-color='%23232427'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23400A18'/%3E%3Cstop offset='1' stop-color='%23402428'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='6.93'%3E%3Cpath transform='translate(-21.7 -4) rotate(-4.9 1409 581) scale(0.957712)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='2.3100000000000005' transform='translate(-46 22) rotate(-1.4000000000000001 800 450) scale(0.9949759999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-5.799999999999999 6) rotate(-22 401 736) scale(0.9949759999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='2.1'%3E%3Cpath transform='translate(132 7.199999999999999) rotate(-1.7999999999999998 150 345) scale(1.009904)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='4.620000000000001' transform='translate(0 -63) rotate(-36 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-42.4 5.6) rotate(-6 1400 132) scale(0.92)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.contact__logo {
  width: 25rem;
  animation: logo 5s infinite;
}

@keyframes logo {
  3% {
    scale: 1.05;
  }
  6% {
    scale: 1;
  }
  8% {
    scale: 1.05;
  }
  50% {
    scale: 1;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form__ask {
  color: var(--gray);
  letter-spacing: 0.25rem;
}

.contact__form__text {
  margin: 15px 0;
}

.contact__form__box {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-family: var(--font);
  font-size: 1rem;
  box-shadow: 0px 0px 10px 1px #0b0c109c inset;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.contact__form__box--mail {
  box-shadow: 0px 0px 10px 1px #0b0c109c inset;
  margin: 5px 0;
  font-size: 1rem;
}

.contact__form__area {
  box-shadow: 0px 0px 10px 1px #0b0c109c inset;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  height: 150px;
  font-family: var(--font);
  font-size: 1rem;
  resize: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.contact__form__button {
  color: var(--white);
  font: var(--font);
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 20px;
  height: 6vh;
  width: 10vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-self: flex-end;
  margin-top: 10px;
  font-size: 1rem;
}

.contact__form__button:hover {
  background-color: var(--wine);
}

@media screen and (max-width: 1280px) {
  .contact {
    padding: 52px 64px;
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    padding: 32px;
  }
  .contact__logo {
    width: 18rem;
  }
  .contact__form__box,
  .contact__form__box--mail,
  .contact__form__area,
  .contact__form__button {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .contact{
    padding: 16px;
  }
  .contact__logo {
    display: none;
  }
  .contact__form {
    width: 100%;
  }
  .contact__form__button{
    height: 5vh;
    width: 25vw;
  }
}
